# SQL Subqueries - Lab

## Introduction

Now that you've seen how subqueries work, it's time to get some practice writing them! Not all of the queries will require subqueries, but all will be a bit more complex and require some thought and review about aggregates, grouping, ordering, filtering, joins and subqueries. Good luck!  

## Objectives

You will be able to:

* Write subqueries to decompose complex queries

## CRM Database Schema

Once again, here's the schema for the CRM database you'll continue to practice with.

<img src="images/Database-Schema.png" width="600">

## Connect to the Database

As usual, start by importing the necessary packages and connecting to the database **data.sqlite**.

In [1]:
import sqlite3 as sq
import pandas as pd

In [2]:
con = sq.connect('data.sqlite', detect_types=sq.PARSE_COLNAMES)
c = con.cursor()

## Write an Equivalent Query using a Subquery

```SQL
select customerNumber,
       contactLastName,
       contactFirstName
       from customers
       join orders 
       using(customerNumber)
       where orderDate = '2003-01-31';
```

In [6]:
c.execute("""SELECT customerNumber,
                    contactLastName,
                    contactFirstName
               FROM customers
              WHERE customerNumber in (SELECT customerNumber
                                       FROM orders
                                       WHERE orderDate = '2003-01-31' )""")

c.fetchall()

[('141', 'Freyre', 'Diego ')]

## Select the Total Number of Orders for Each Product Name

Sort the results by the total number of items sold for that product.

In [33]:
c.execute("""SELECT productName, 
              COUNT(orderNumber) as order_num,
              SUM(quantityOrdered) as units_sold
              FROM orderdetails
              JOIN products
              USING(productCode)
              GROUP BY productName
              ORDER BY units_sold DESC
              ;""")

c.fetchall()

[('1992 Ferrari 360 Spider red', 53, 1808),
 ('1937 Lincoln Berline', 28, 1111),
 ('American Airlines: MD-11S', 28, 1085),
 ('1941 Chevrolet Special Deluxe Cabriolet', 28, 1076),
 ('1930 Buick Marquette Phaeton', 28, 1074),
 ('1940s Ford truck', 28, 1061),
 ('1969 Harley Davidson Ultimate Chopper', 28, 1057),
 ('1957 Chevy Pickup', 28, 1056),
 ('1964 Mercedes Tour Bus', 28, 1053),
 ('1956 Porsche 356A Coupe', 27, 1052),
 ('Corsair F4U ( Bird Cage)', 28, 1051),
 ('F/A 18 Hornet 1/72', 28, 1047),
 ('1980s Black Hawk Helicopter', 28, 1040),
 ('1913 Ford Model T Speedster', 28, 1038),
 ('1997 BMW R 1100 S', 28, 1033),
 ('1972 Alfa Romeo GTA', 28, 1030),
 ('1962 Volkswagen Microbus', 28, 1029),
 ('2002 Suzuki XREO', 28, 1028),
 ('The USS Constitution Ship', 27, 1020),
 ('2001 Ferrari Enzo', 27, 1019),
 ('1960 BSA Gold Star DBD34', 28, 1015),
 ('1997 BMW F650 ST', 28, 1014),
 ('1957 Corvette Convertible', 27, 1013),
 ('18th century schooner', 27, 1011),
 ('1900s Vintage Tri-Plane', 28, 1009),
 ('1940 Ford Pickup Truck', 28, 999),
 ('1996 Moto Guzzi 1100i', 28, 999),
 ('1926 Ford Fire Engine', 28, 998),
 ('1982 Camaro Z28', 28, 997),
 ('1939 Cadillac Limousine', 28, 995),
 ('1917 Maxwell Touring Car', 28, 992),
 ('1969 Dodge Charger', 27, 992),
 ('2002 Yamaha YZR M1', 27, 992),
 ('1912 Ford Model T Delivery Wagon', 27, 991),
 ('1904 Buick Runabout', 27, 990),
 ('1996 Peterbilt 379 Stake Bed with Outrigger', 28, 988),
 ('1998 Chrysler Plymouth Prowler', 28, 986),
 ('1934 Ford V8 Coupe', 28, 985),
 ('2003 Harley-Davidson Eagle Drag Bike', 28, 985),
 ('America West Airlines B757-200', 28, 984),
 ('1936 Chrysler Airflow', 28, 983),
 ('1958 Chevy Corvette Limited Edition', 28, 983),
 ('Diamond T620 Semi-Skirted Tanker', 28, 979),
 ('1970 Dodge Coronet', 28, 976),
 ('1969 Dodge Super Bee', 27, 974),
 ('ATA: B757-300', 28, 973),
 ('1928 British Royal Navy Airplane', 28, 972),
 ('1928 Ford Phaeton Deluxe', 28, 972),
 ('1948 Porsche 356-A Roadster', 27, 972),
 ('1958 Setra Bus', 28, 972),
 ('1971 Alpine Renault 1600s', 27, 969),
 ('1962 City of Detroit Streetcar', 27, 966),
 ('1999 Yamaha Speed Boat', 28, 966),
 ('1969 Ford Falcon', 27, 965),
 ('1969 Corvair Monza', 27, 963),
 ('1952 Alpine Renault 1300', 28, 961),
 ('1936 Mercedes-Benz 500K Special Roadster', 28, 960),
 ('Boeing X-32A JSF', 28, 960),
 ('1957 Vespa GS150', 27, 959),
 ('Pont Yacht', 27, 958),
 ('1932 Model A Ford J-Coupe', 28, 957),
 ('1938 Cadillac V-16 Presidential Limousine', 28, 955),
 ('1954 Greyhound Scenicruiser', 28, 955),
 ('The Titanic', 27, 952),
 ('1949 Jaguar XK 120', 25, 949),
 ('1948 Porsche Type 356 Roadster', 25, 948),
 ('1982 Ducati 900 Monster', 27, 947),
 ('1993 Mazda RX-7', 27, 947),
 ('1936 Harley Davidson El Knucklehead', 28, 945),
 ('1970 Triumph Spitfire', 27, 945),
 ('1961 Chevrolet Impala', 27, 941),
 ('1900s Vintage Bi-Plane', 28, 940),
 ('1939 Chevrolet Deluxe Coupe', 28, 937),
 ("1950's Chicago Surface Lines Streetcar", 27, 934),
 ('The Schooner Bluenose', 27, 934),
 ('1968 Ford Mustang', 27, 933),
 ('1962 LanciaA Delta 16V', 28, 932),
 ('1968 Dodge Charger', 27, 925),
 ('1940 Ford Delivery Sedan', 28, 923),
 ('1917 Grand Touring Sedan', 25, 918),
 ('Collectable Wooden Train', 27, 918),
 ('1995 Honda Civic', 27, 917),
 ('P-51-D Mustang', 28, 917),
 ('1966 Shelby Cobra 427 S/C', 25, 915),
 ('1976 Ford Gran Torino', 27, 915),
 ('1965 Aston Martin DB5', 25, 914),
 ('1982 Lamborghini Diablo', 27, 912),
 ('1980â€™s GM Manhattan Express', 28, 911),
 ('18th Century Vintage Horse Carriage', 28, 907),
 ('1982 Ducati 996 R', 27, 906),
 ('1970 Plymouth Hemi Cuda', 27, 900),
 ('1974 Ducati 350 Mk3 Desmo', 27, 898),
 ('The Mayflower', 27, 898),
 ('HMS Bounty', 28, 897),
 ('The Queen Mary', 27, 896),
 ('2002 Chevy Corvette', 25, 894),
 ('American Airlines: B767-300', 28, 894),
 ('1937 Horch 930V Limousine', 28, 884),
 ('1903 Ford Model A', 27, 883),
 ('1928 Mercedes-Benz SSK', 28, 880),
 ('1952 Citroen-15CV', 24, 873),
 ('1969 Chevrolet Camaro Z28', 25, 870),
 ('1992 Porsche Cayenne Turbo Silver', 27, 867),
 ('1932 Alfa Romeo 8C2300 Spider Sport', 25, 866),
 ('1999 Indy 500 Monte Carlo SS', 25, 855),
 ('1911 Ford Town Car', 25, 832),
 ('1936 Mercedes Benz 500k Roadster', 25, 824),
 ('1970 Chevy Chevelle SS 454', 25, 803),
 ('1957 Ford Thunderbird', 24, 767)]

## Select the Product Name and the  Total Number of People Who Have Ordered Each Product

Sort the results in descending order.

In [41]:
c.execute("""SELECT productName,
              COUNT(DISTINCT customerNumber) numPurchases
              FROM products
              JOIN orderdetails
              USING(productCode)
              JOIN orders
              USING(orderNumber)
              GROUP BY productName
              ORDER BY numPurchases DESC
              
              ;""")

c.fetchall()

[('1992 Ferrari 360 Spider red', 40),
 ('1934 Ford V8 Coupe', 27),
 ('1952 Alpine Renault 1300', 27),
 ('1972 Alfa Romeo GTA', 27),
 ('Boeing X-32A JSF', 27),
 ('18th Century Vintage Horse Carriage', 26),
 ('1900s Vintage Bi-Plane', 26),
 ('1913 Ford Model T Speedster', 26),
 ('1937 Horch 930V Limousine', 26),
 ('1940 Ford Delivery Sedan', 26),
 ('1941 Chevrolet Special Deluxe Cabriolet', 26),
 ('1969 Harley Davidson Ultimate Chopper', 26),
 ('1980s Black Hawk Helicopter', 26),
 ('1995 Honda Civic', 26),
 ('1996 Moto Guzzi 1100i', 26),
 ('1999 Yamaha Speed Boat', 26),
 ('American Airlines: MD-11S', 26),
 ('Corsair F4U ( Bird Cage)', 26),
 ('HMS Bounty', 26),
 ('1912 Ford Model T Delivery Wagon', 25),
 ('1936 Harley Davidson El Knucklehead', 25),
 ('1936 Mercedes-Benz 500K Special Roadster', 25),
 ('1937 Lincoln Berline', 25),
 ('1940 Ford Pickup Truck', 25),
 ('1940s Ford truck', 25),
 ('1948 Porsche 356-A Roadster', 25),
 ('1960 BSA Gold Star DBD34', 25),
 ('1962 LanciaA Delta 16V', 25),
 ('1993 Mazda RX-7', 25),
 ('1997 BMW R 1100 S', 25),
 ('2002 Suzuki XREO', 25),
 ('2003 Harley-Davidson Eagle Drag Bike', 25),
 ('ATA: B757-300', 25),
 ('America West Airlines B757-200', 25),
 ('18th century schooner', 24),
 ('1917 Grand Touring Sedan', 24),
 ('1917 Maxwell Touring Car', 24),
 ('1932 Model A Ford J-Coupe', 24),
 ('1936 Chrysler Airflow', 24),
 ('1939 Chevrolet Deluxe Coupe', 24),
 ('1969 Dodge Charger', 24),
 ('1997 BMW F650 ST', 24),
 ('2002 Yamaha YZR M1', 24),
 ('F/A 18 Hornet 1/72', 24),
 ('P-51-D Mustang', 24),
 ('Pont Yacht', 24),
 ('The Queen Mary', 24),
 ('1911 Ford Town Car', 23),
 ('1926 Ford Fire Engine', 23),
 ('1928 Ford Phaeton Deluxe', 23),
 ('1930 Buick Marquette Phaeton', 23),
 ('1932 Alfa Romeo 8C2300 Spider Sport', 23),
 ('1938 Cadillac V-16 Presidential Limousine', 23),
 ('1939 Cadillac Limousine', 23),
 ('1958 Setra Bus', 23),
 ('1968 Ford Mustang', 23),
 ('1970 Plymouth Hemi Cuda', 23),
 ('1974 Ducati 350 Mk3 Desmo', 23),
 ('1980â€™s GM Manhattan Express', 23),
 ('1996 Peterbilt 379 Stake Bed with Outrigger', 23),
 ('2001 Ferrari Enzo', 23),
 ('American Airlines: B767-300', 23),
 ('The Schooner Bluenose', 23),
 ('The USS Constitution Ship', 23),
 ('1900s Vintage Tri-Plane', 22),
 ('1904 Buick Runabout', 22),
 ('1928 British Royal Navy Airplane', 22),
 ("1950's Chicago Surface Lines Streetcar", 22),
 ('1956 Porsche 356A Coupe', 22),
 ('1961 Chevrolet Impala', 22),
 ('1962 City of Detroit Streetcar', 22),
 ('1964 Mercedes Tour Bus', 22),
 ('1965 Aston Martin DB5', 22),
 ('1968 Dodge Charger', 22),
 ('1969 Corvair Monza', 22),
 ('1969 Ford Falcon', 22),
 ('1971 Alpine Renault 1600s', 22),
 ('1982 Camaro Z28', 22),
 ('1982 Ducati 900 Monster', 22),
 ('Diamond T620 Semi-Skirted Tanker', 22),
 ('The Mayflower', 22),
 ('The Titanic', 22),
 ('1903 Ford Model A', 21),
 ('1928 Mercedes-Benz SSK', 21),
 ('1936 Mercedes Benz 500k Roadster', 21),
 ('1948 Porsche Type 356 Roadster', 21),
 ('1957 Chevy Pickup', 21),
 ('1957 Corvette Convertible', 21),
 ('1957 Vespa GS150', 21),
 ('1962 Volkswagen Microbus', 21),
 ('1966 Shelby Cobra 427 S/C', 21),
 ('1969 Dodge Super Bee', 21),
 ('1970 Triumph Spitfire', 21),
 ('1982 Ducati 996 R', 21),
 ('1982 Lamborghini Diablo', 21),
 ('1998 Chrysler Plymouth Prowler', 21),
 ('1999 Indy 500 Monte Carlo SS', 21),
 ('1954 Greyhound Scenicruiser', 20),
 ('1957 Ford Thunderbird', 20),
 ('1970 Chevy Chevelle SS 454', 20),
 ('1970 Dodge Coronet', 20),
 ('1976 Ford Gran Torino', 20),
 ('1992 Porsche Cayenne Turbo Silver', 20),
 ('Collectable Wooden Train', 20),
 ('1958 Chevy Corvette Limited Edition', 19),
 ('1949 Jaguar XK 120', 18),
 ('1952 Citroen-15CV', 18),
 ('1969 Chevrolet Camaro Z28', 18),
 ('2002 Chevy Corvette', 18)]

## Select the Employee Number, Office Code, City (of the office), and Name (First and Last) of those Employees who Sold Products that Have Been Ordered by Less Then 20 people.

This problem is a bit tougher. To start, think about how you might break the problem up. Be sure that your results only list each employee once.

In [28]:
# need the employee, office, orders products, orderdetails tables

c.execute("""SELECT DISTINCT employeeNumber, officeCode, o.city,
              firstName, 
              lastName,
              orderNumber
              FROM employees e
              
              JOIN offices as o
              USING(officeCode)
              
              JOIN customers c
              ON e.employeeNumber = c.salesRepEmployeeNumber
              
              JOIN orders
              USING(customerNumber)
              
              JOIN orderdetails
              USING(orderNumber)
              
              
              
              
              ;""")

c.fetchall()

[('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10113'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10135'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10142'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10182'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10229'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10271'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10282'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10312'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10335'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10357'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10368'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10371'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10382'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10385'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10390'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10396'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10421'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10111'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10201'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10333'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10140'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10168'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10317'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10362'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10159'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10162'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10381'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10384'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10250'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10257'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10400'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10407'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10149'),
 ('1165', '1', 'San Francisco', 'Leslie', 'Jennings', '10219'),
 ('1166', '1', 'San Francisco', 'Leslie', 'Thompson', '10124'),
 ('1166', '1', 'San Francisco', 'Leslie', 'Thompson', '10278'),
 ('1166', '1', 'San Francisco', 'Leslie', 'Thompson', '10346'),
 ('1166', '1', 'San Francisco', 'Leslie', 'Thompson', '10145'),
 ('1166', '1', 'San Francisco', 'Leslie', 'Thompson', '10189'),
 ('1166', '1', 'San Francisco', 'Leslie', 'Thompson', '10367'),
 ('1166', '1', 'San Francisco', 'Leslie', 'Thompson', '10154'),
 ('1166', '1', 'San Francisco', 'Leslie', 'Thompson', '10376'),
 ('1166', '1', 'San Francisco', 'Leslie', 'Thompson', '10222'),
 ('1166', '1', 'San Francisco', 'Leslie', 'Thompson', '10226'),
 ('1166', '1', 'San Francisco', 'Leslie', 'Thompson', '10160'),
 ('1166', '1', 'San Francisco', 'Leslie', 'Thompson', '10209'),
 ('1166', '1', 'San Francisco', 'Leslie', 'Thompson', '10199'),
 ('1166', '1', 'San Francisco', 'Leslie', 'Thompson', '10215'),
 ('1188', '2', 'Boston', 'Julie', 'Firrelli', '10228'),
 ('1188', '2', 'Boston', 'Julie', 'Firrelli', '10249'),
 ('1188', '2', 'Boston', 'Julie', 'Firrelli', '10276'),
 ('1188', '2', 'Boston', 'Julie', 'Firrelli', '10294'),
 ('1188', '2', 'Boston', 'Julie', 'Firrelli', '10143'),
 ('1188', '2', 'Boston', 'Julie', 'Firrelli', '10185'),
 ('1188', '2', 'Boston', 'Julie', 'Firrelli', '10365'),
 ('1188', '2', 'Boston', 'Julie', 'Firrelli', '10183'),
 ('1188', '2', 'Boston', 'Julie', 'Firrelli', '10307'),
 ('1188', '2', 'Boston', 'Julie', 'Firrelli', '10147'),
 ('1188', '2', 'Boston', 'Julie', 'Firrelli', '10274'),
 ('1188', '2', 'Boston', 'Julie', 'Firrelli', '10369'),
 ('1188', '2', 'Boston', 'Julie', 'Firrelli', '10207'),
 ('1188', '2', 'Boston', 'Julie', 'Firrelli', '10243'),
 ('1216', '2', 'Boston', 'Steve', 'Patterson', '10272'),
 ('1216', '2', 'Boston', 'Steve', 'Patterson', '10281'),
 ('1216', '2', 'Boston', 'Steve', 'Patterson', '10318'),
 ('1216', '2', 'Boston', 'Steve', 'Patterson', '10422'),
 ('1216', '2', 'Boston', 'Steve', 'Patterson', '10130'),
 ('1216', '2', 'Boston', 'Steve', 'Patterson', '10290'),
 ('1216', '2', 'Boston', 'Steve', 'Patterson', '10352'),
 ('1216', '2', 'Boston', 'Steve', 'Patterson', '10285'),
 ('1216', '2', 'Boston', 'Steve', 'Patterson', '10305'),
 ('1216', '2', 'Boston', 'Steve', 'Patterson', '10264'),
 ('1216', '2', 'Boston', 'Steve', 'Patterson', '10295'),
 ('1216', '2', 'Boston', 'Steve', 'Patterson', '10414'),
 ('1216', '2', 'Boston', 'Steve', 'Patterson', '10100'),
 ('1216', '2', 'Boston', 'Steve', 'Patterson', '10192'),
 ('1216', '2', 'Boston', 'Steve', 'Patterson', '10322'),
 ('1216', '2', 'Boston', 'Steve', 'Patterson', '10166'),
 ('1216', '2', 'Boston', 'Steve', 'Patterson', '10321'),
 ('1216', '2', 'Boston', 'Steve', 'Patterson', '10388'),
 ('1286', '3', 'NYC', 'Foon Yue', 'Tseng', '10127'),
 ('1286', '3', 'NYC', 'Foon Yue', 'Tseng', '10204'),
 ('1286', '3', 'NYC', 'Foon Yue', 'Tseng', '10267'),
 ('1286', '3', 'NYC', 'Foon Yue', 'Tseng', '10349'),
 ('1286', '3', 'NYC', 'Foon Yue', 'Tseng', '10102'),
 ('1286', '3', 'NYC', 'Foon Yue', 'Tseng', '10237'),
 ('1286', '3', 'NYC', 'Foon Yue', 'Tseng', '10324'),
 ('1286', '3', 'NYC', 'Foon Yue', 'Tseng', '10171'),
 ('1286', '3', 'NYC', 'Foon Yue', 'Tseng', '10261'),
 ('1286', '3', 'NYC', 'Foon Yue', 'Tseng', '10411'),
 ('1286', '3', 'NYC', 'Foon Yue', 'Tseng', '10115'),
 ('1286', '3', 'NYC', 'Foon Yue', 'Tseng', '10163'),
 ('1286', '3', 'NYC', 'Foon Yue', 'Tseng', '10337'),
 ('1286', '3', 'NYC', 'Foon Yue', 'Tseng', '10196'),
 ('1286', '3', 'NYC', 'Foon Yue', 'Tseng', '10245'),
 ('1286', '3', 'NYC', 'Foon Yue', 'Tseng', '10242'),
 ('1286', '3', 'NYC', 'Foon Yue', 'Tseng', '10319'),
 ('1323', '3', 'NYC', 'George', 'Vanauf', '10107'),
 ('1323', '3', 'NYC', 'George', 'Vanauf', '10248'),
 ('1323', '3', 'NYC', 'George', 'Vanauf', '10292'),
 ('1323', '3', 'NYC', 'George', 'Vanauf', '10329'),
 ('1323', '3', 'NYC', 'George', 'Vanauf', '10172'),
 ('1323', '3', 'NYC', 'George', 'Vanauf', '10263'),
 ('1323', '3', 'NYC', 'George', 'Vanauf', '10413'),
 ('1323', '3', 'NYC', 'George', 'Vanauf', '10206'),
 ('1323', '3', 'NYC', 'George', 'Vanauf', '10313'),
 ('1323', '3', 'NYC', 'George', 'Vanauf', '10235'),
 ('1323', '3', 'NYC', 'George', 'Vanauf', '10283'),
 ('1323', '3', 'NYC', 'George', 'Vanauf', '10195'),
 ('1323', '3', 'NYC', 'George', 'Vanauf', '10308'),
 ('1323', '3', 'NYC', 'George', 'Vanauf', '10233'),
 ('1323', '3', 'NYC', 'George', 'Vanauf', '10251'),
 ('1323', '3', 'NYC', 'George', 'Vanauf', '10401'),
 ('1323', '3', 'NYC', 'George', 'Vanauf', '10131'),
 ('1323', '3', 'NYC', 'George', 'Vanauf', '10146'),
 ('1323', '3', 'NYC', 'George', 'Vanauf', '10353'),
 ('1323', '3', 'NYC', 'George', 'Vanauf', '10109'),
 ('1323', '3', 'NYC', 'George', 'Vanauf', '10236'),
 ('1323', '3', 'NYC', 'George', 'Vanauf', '10331'),
 ('1337', '4', 'Paris', 'Loui', 'Bondur', '10194'),
 ('1337', '4', 'Paris', 'Loui', 'Bondur', '10208'),
 ('1337', '4', 'Paris', 'Loui', 'Bondur', '10227'),
 ('1337', '4', 'Paris', 'Loui', 'Bondur', '10114'),
 ('1337', '4', 'Paris', 'Loui', 'Bondur', '10286'),
 ('1337', '4', 'Paris', 'Loui', 'Bondur', '10336'),
 ('1337', '4', 'Paris', 'Loui', 'Bondur', '10134'),
 ('1337', '4', 'Paris', 'Loui', 'Bondur', '10356'),
 ('1337', '4', 'Paris', 'Loui', 'Bondur', '10395'),
 ('1337', '4', 'Paris', 'Loui', 'Bondur', '10122'),
 ('1337', '4', 'Paris', 'Loui', 'Bondur', '10344'),
 ('1337', '4', 'Paris', 'Loui', 'Bondur', '10364'),
 ('1337', '4', 'Paris', 'Loui', 'Bondur', '10121'),
 ('1337', '4', 'Paris', 'Loui', 'Bondur', '10137'),
 ('1337', '4', 'Paris', 'Loui', 'Bondur', '10343'),
 ('1337', '4', 'Paris', 'Loui', 'Bondur', '10359'),
 ('1337', '4', 'Paris', 'Loui', 'Bondur', '10398'),
 ('1337', '4', 'Paris', 'Loui', 'Bondur', '10211'),
 ('1337', '4', 'Paris', 'Loui', 'Bondur', '10252'),
 ('1337', '4', 'Paris', 'Loui', 'Bondur', '10402'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10123'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10298'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10345'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10275'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10315'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10375'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10425'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10104'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10128'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10133'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10153'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10156'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10190'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10203'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10205'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10212'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10244'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10246'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10262'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10279'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10311'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10350'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10355'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10358'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10378'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10379'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10380'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10383'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10386'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10394'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10412'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10417'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10424'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10180'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10224'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10241'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10255'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10405'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10136'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10178'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10397'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10216'),
 ('1370', '4', 'Paris', 'Gerard', 'Hernandez', '10304'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10105'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10238'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10256'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10327'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10406'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10161'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10314'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10280'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10293'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10106'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10173'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10328'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10221'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10273'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10423'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10116'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10144'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10338'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10366'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10119'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10269'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10341'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10419'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10176'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10266'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10416'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10164'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10170'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10392'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10157'),
 ('1401', '4', 'Paris', 'Pamela', 'Castillo', '10218'),
 ('1501', '7', 'London', 'Larry', 'Bott', '10155'),
 ('1501', '7', 'London', 'Larry', 'Bott', '10299'),
 ('1501', '7', 'London', 'Larry', 'Bott', '10377'),
 ('1501', '7', 'London', 'Larry', 'Bott', '10110'),
 ('1501', '7', 'London', 'Larry', 'Bott', '10306'),
 ('1501', '7', 'London', 'Larry', 'Bott', '10332'),
 ('1501', '7', 'London', 'Larry', 'Bott', '10253'),
 ('1501', '7', 'London', 'Larry', 'Bott', '10302'),
 ('1501', '7', 'London', 'Larry', 'Bott', '10403'),
 ('1501', '7', 'London', 'Larry', 'Bott', '10232'),
 ('1501', '7', 'London', 'Larry', 'Bott', '10316'),
 ('1501', '7', 'London', 'Larry', 'Bott', '10151'),
 ('1501', '7', 'London', 'Larry', 'Bott', '10239'),
 ('1501', '7', 'London', 'Larry', 'Bott', '10373'),
 ('1501', '7', 'London', 'Larry', 'Bott', '10129'),
 ('1501', '7', 'London', 'Larry', 'Bott', '10175'),
 ('1501', '7', 'London', 'Larry', 'Bott', '10351'),
 ('1501', '7', 'London', 'Larry', 'Bott', '10141'),
 ('1501', '7', 'London', 'Larry', 'Bott', '10247'),
 ('1501', '7', 'London', 'Larry', 'Bott', '10363'),
 ('1501', '7', 'London', 'Larry', 'Bott', '10186'),
 ('1501', '7', 'London', 'Larry', 'Bott', '10213'),
 ('1504', '7', 'London', 'Barry', 'Jones', '10103'),
 ('1504', '7', 'London', 'Barry', 'Jones', '10158'),
 ('1504', '7', 'London', 'Barry', 'Jones', '10309'),
 ('1504', '7', 'London', 'Barry', 'Jones', '10325'),
 ('1504', '7', 'London', 'Barry', 'Jones', '10101'),
 ('1504', '7', 'London', 'Barry', 'Jones', '10230'),
 ('1504', '7', 'London', 'Barry', 'Jones', '10300'),
 ('1504', '7', 'London', 'Barry', 'Jones', '10323'),
 ('1504', '7', 'London', 'Barry', 'Jones', '10112'),
 ('1504', '7', 'London', 'Barry', 'Jones', '10320'),
 ('1504', '7', 'London', 'Barry', 'Jones', '10326'),
 ('1504', '7', 'London', 'Barry', 'Jones', '10334'),
 ('1504', '7', 'London', 'Barry', 'Jones', '10181'),
 ('1504', '7', 'London', 'Barry', 'Jones', '10188'),
 ('1504', '7', 'London', 'Barry', 'Jones', '10289'),
 ('1504', '7', 'London', 'Barry', 'Jones', '10220'),
 ('1504', '7', 'London', 'Barry', 'Jones', '10297'),
 ('1504', '7', 'London', 'Barry', 'Jones', '10191'),
 ('1504', '7', 'London', 'Barry', 'Jones', '10310'),
 ('1504', '7', 'London', 'Barry', 'Jones', '10284'),
 ('1504', '7', 'London', 'Barry', 'Jones', '10301'),
 ('1504', '7', 'London', 'Barry', 'Jones', '10296'),
 ('1504', '7', 'London', 'Barry', 'Jones', '10167'),
 ('1504', '7', 'London', 'Barry', 'Jones', '10291'),
 ('1504', '7', 'London', 'Barry', 'Jones', '10389'),
 ('1611', '6', 'Sydney', 'Andy', 'Fixter', '10120'),
 ('1611', '6', 'Sydney', 'Andy', 'Fixter', '10125'),
 ('1611', '6', 'Sydney', 'Andy', 'Fixter', '10223'),
 ('1611', '6', 'Sydney', 'Andy', 'Fixter', '10342'),
 ('1611', '6', 'Sydney', 'Andy', 'Fixter', '10347'),
 ('1611', '6', 'Sydney', 'Andy', 'Fixter', '10148'),
 ('1611', '6', 'Sydney', 'Andy', 'Fixter', '10169'),
 ('1611', '6', 'Sydney', 'Andy', 'Fixter', '10370'),
 ('1611', '6', 'Sydney', 'Andy', 'Fixter', '10391'),
 ('1611', '6', 'Sydney', 'Andy', 'Fixter', '10139'),
 ('1611', '6', 'Sydney', 'Andy', 'Fixter', '10270'),
 ('1611', '6', 'Sydney', 'Andy', 'Fixter', '10361'),
 ('1611', '6', 'Sydney', 'Andy', 'Fixter', '10420'),
 ('1611', '6', 'Sydney', 'Andy', 'Fixter', '10152'),
 ('1611', '6', 'Sydney', 'Andy', 'Fixter', '10174'),
 ('1611', '6', 'Sydney', 'Andy', 'Fixter', '10374'),
 ('1611', '6', 'Sydney', 'Andy', 'Fixter', '10193'),
 ('1611', '6', 'Sydney', 'Andy', 'Fixter', '10265'),
 ('1611', '6', 'Sydney', 'Andy', 'Fixter', '10415'),
 ('1612', '6', 'Sydney', 'Peter', 'Marsh', '10217'),
 ('1612', '6', 'Sydney', 'Peter', 'Marsh', '10259'),
 ('1612', '6', 'Sydney', 'Peter', 'Marsh', '10288'),
 ('1612', '6', 'Sydney', 'Peter', 'Marsh', '10409'),
 ('1612', '6', 'Sydney', 'Peter', 'Marsh', '10132'),
 ('1612', '6', 'Sydney', 'Peter', 'Marsh', '10254'),
 ('1612', '6', 'Sydney', 'Peter', 'Marsh', '10354'),
 ('1612', '6', 'Sydney', 'Peter', 'Marsh', '10393'),
 ('1612', '6', 'Sydney', 'Peter', 'Marsh', '10404'),
 ('1612', '6', 'Sydney', 'Peter', 'Marsh', '10202'),
 ('1612', '6', 'Sydney', 'Peter', 'Marsh', '10260'),
 ('1612', '6', 'Sydney', 'Peter', 'Marsh', '10410'),
 ('1612', '6', 'Sydney', 'Peter', 'Marsh', '10234'),
 ('1612', '6', 'Sydney', 'Peter', 'Marsh', '10268'),
 ('1612', '6', 'Sydney', 'Peter', 'Marsh', '10418'),
 ('1612', '6', 'Sydney', 'Peter', 'Marsh', '10138'),
 ('1612', '6', 'Sydney', 'Peter', 'Marsh', '10179'),
 ('1612', '6', 'Sydney', 'Peter', 'Marsh', '10360'),
 ('1612', '6', 'Sydney', 'Peter', 'Marsh', '10399'),
 ('1621', '5', 'Tokyo', 'Mami', 'Nishi', '10117'),
 ('1621', '5', 'Tokyo', 'Mami', 'Nishi', '10150'),
 ('1621', '5', 'Tokyo', 'Mami', 'Nishi', '10165'),
 ('1621', '5', 'Tokyo', 'Mami', 'Nishi', '10277'),
 ('1621', '5', 'Tokyo', 'Mami', 'Nishi', '10387'),
 ('1621', '5', 'Tokyo', 'Mami', 'Nishi', '10210'),
 ('1621', '5', 'Tokyo', 'Mami', 'Nishi', '10240'),
 ('1621', '5', 'Tokyo', 'Mami', 'Nishi', '10187'),
 ('1621', '5', 'Tokyo', 'Mami', 'Nishi', '10200'),
 ('1621', '5', 'Tokyo', 'Mami', 'Nishi', '10108'),
 ('1621', '5', 'Tokyo', 'Mami', 'Nishi', '10198'),
 ('1621', '5', 'Tokyo', 'Mami', 'Nishi', '10330'),
 ('1621', '5', 'Tokyo', 'Mami', 'Nishi', '10258'),
 ('1621', '5', 'Tokyo', 'Mami', 'Nishi', '10339'),
 ('1621', '5', 'Tokyo', 'Mami', 'Nishi', '10372'),
 ('1621', '5', 'Tokyo', 'Mami', 'Nishi', '10408'),
 ('1702', '4', 'Paris', 'Martin', 'Gerard', '10118'),
 ('1702', '4', 'Paris', 'Martin', 'Gerard', '10197'),
 ('1702', '4', 'Paris', 'Martin', 'Gerard', '10340'),
 ('1702', '4', 'Paris', 'Martin', 'Gerard', '10225'),
 ('1702', '4', 'Paris', 'Martin', 'Gerard', '10287'),
 ('1702', '4', 'Paris', 'Martin', 'Gerard', '10177'),
 ('1702', '4', 'Paris', 'Martin', 'Gerard', '10231'),
 ('1702', '4', 'Paris', 'Martin', 'Gerard', '10126'),
 ('1702', '4', 'Paris', 'Martin', 'Gerard', '10214'),
 ('1702', '4', 'Paris', 'Martin', 'Gerard', '10348'),
 ('1702', '4', 'Paris', 'Martin', 'Gerard', '10184'),
 ('1702', '4', 'Paris', 'Martin', 'Gerard', '10303')]

## Select the Employee Number, Name (First and Last) and Number of Customers of Employees Who's Customers Have an Average Credit Limit of Over 15K

In [ ]:
#Your code here

## Summary

In this lesson, you got to practice some more complex SQL queries, some of which required subqueries. There's still plenty more SQL to be had though; hope you've been enjoying some of these puzzles!